<ion-header>
  <ion-navbar hideBackButton="false">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center (click)="goToBasketPage()">
        {{store.labelAr}} {{store.labelFr}}
    </ion-title>
    <ion-buttons end (click)="goToBasketPage()">
        <button ion-button end style="color: white;float: right;"><ion-icon name="ios-basket"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" style="background-color: azure;">

        <ion-card>
            <img [src]="store.avatarUri" style="border: 2px solid darkslategray;"/>
            <div class="card-title" style="color: black !important">{{store.labelAr}} {{store.labelFr}}</div>
            <div class="card-subtitle" style="color: black !important;font-size: 1.4em !important;font-weight: bold">{{store.description}}</div>
        </ion-card>

        <h5 style="font-weight: bold;margin: 10px"> <ion-icon name="md-arrow-dropright"></ion-icon> {{"modules.categories" | translate}} </h5>


        <ion-card *ngFor="let category of store.categories" (click)="goToCategoryDetails(category)">
            <img *ngIf="category.avatarUri" [src]="category.avatarUri"/>
            <ion-card-content>
              <h1 style="font-weight: bold">{{category.labelAr}} {{category.labelFr}}</h1>
              <p style="font-weight: bold" *ngIf="category.descriptionAr || category.descriptionFr">
                ({{category.descriptionAr}} {{category.descriptionFr}})
              </p>
            </ion-card-content>
          </ion-card>

</ion-content>
