<ion-header>
  <ion-navbar hideBackButton="false">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>
      Invitation
    </ion-title>
    <ion-buttons end (click)="goToBasketPage()">
        <button ion-button end style="color: white;float: right;"><ion-icon name="ios-basket"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="ADD" style="color: white !important;font-weight: bold !important">
        <ion-icon style="font-size: 30px;" name="md-add-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="LIST" style="color: white;font-weight: bold">
        Old invitation
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="mode">
    <ion-list *ngSwitchCase="'ADD'">

    <ion-item>
        <ion-label floating style="color: black;font-weight: bold">Phone of invited <span class="required">(*)</span></ion-label>
        <ion-input
          type="text"
          [(ngModel)]="phone"
          name="phone"
          minlength="10"
          maxlength="30"
          required>
        </ion-input>
    </ion-item>

    <button ion-button block round color="secondary" (click)="invite()" [disabled]="!phone">
        Send
    </button>
    <!-- <ion-item>
        <ion-label floating style="color: black;font-weight: bold">Validation code <span class="required">(*)</span></ion-label>
        <ion-input
          type="text"
          [(ngModel)]="invitationPayload.validationCode"
          name="validationCode"
          required>
        </ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label floating style="color: black;font-weight: bold">First name <span class="required">(*)</span></ion-label>
        <ion-input
          type="text"
          [(ngModel)]="invitationPayload.firstName"
          name="fullName"
          minlength="4"
          maxlength="50"
          required>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating style="color: black;font-weight: bold">Last name </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="invitationPayload.lastName"
          name="lastName"
          minlength="4"
          maxlength="50">
        </ion-input>
    </ion-item> -->
  
    </ion-list>

      <ion-list *ngSwitchCase="'LIST'">
        <ion-item *ngFor="let invitation of invitations">
          <ion-avatar item-start>
            <ion-icon *ngIf="invitation.state == 'DRAFT' || invitation.state == 'SENDED'" name="md-mail"></ion-icon>
            <h2 *ngIf="invitation.state == 'ACCEPTED'" style="font-weight: bold">{{getTrigram(invitation?.invited.firstName, invitation?.invited.lastName)}}</h2>
          </ion-avatar>

          <h2 *ngIf="invitation.state == 'ACCEPTED'" style="font-weight: bold">{{invitation?.invited?.firstName}} {{invitation?.invited?.lastName}}</h2>
          <h2 style="font-weight: bold">{{invitation.phone}}</h2>
          <p *ngIf="invitation.state == 'DRAFT' || invitation.state == 'SENDED'">{{invitation.validationCode}}</p>
          <p>{{invitation.createdAt |  date: 'MM/dd/yy hh:mm:ss'}}</p>
          <button (click)="whatsAppNotify(invitation)" style="font-weight: bold" *ngIf="invitation.state == 'DRAFT' || invitation.state == 'SENDED'" ion-button clear item-end>

            <ion-icon name="logo-whatsapp" style="color:#25D366;font-size: 22px;"></ion-icon>

          </button>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
