<ion-header>
  <ion-navbar no-border-bottom hideBackButton="true">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> AL MARSSOUL </ion-title>
    <p style="font-size: 12px;color: black;font-weight: bold;">A plus tôt au lieux actuel</p>
    <ion-buttons end (click)="goToBasketPage()">
        <button ion-button end style="color: black;float: right;color: white"><ion-icon name="ios-basket"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
        [(ngModel)]="pageable.search"
        showCancelButton=true
        (search)="onInput($event)"
        cancelButtonText = "Cancel"
        placeholder= '{{"fields.search" | translate}}'
        (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" style="background-color: azure;">

    <h4 style="text-align: center;font-weight: bold;color: orange;" *ngIf="!loading && stores.length === 0"><ion-icon name="ios-warning-outline"></ion-icon> {{"fields.no_result" | translate}}</h4>
    <ion-card *ngFor="let store of stores" (click)="goToStoreDetails(store)">
      <img [src]="store.avatarUri"/>
      <div class="card-title" style="color: black !important">{{store.labelAr}} {{store.labelFr}} <span style="font-size: 14px">({{store.code}})</span></div>
      <div class="card-subtitle" style="color: black !important;font-size: 1.4em !important;font-weight: bold">{{store.descriptionAr}} {{store.descriptionFr}}</div>
      <div class="card-badge" *ngIf="store.categories && store.categories.length > 0"><span class="w3-badge w3-green">{{getCategoriesLabel(store.categories)}}</span></div>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
