<ion-header>
  <ion-navbar hideBackButton="false">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>
      Notification
    </ion-title>
    <ion-buttons end (click)="goToBasketPage()">
        <button ion-button end style="color: white;float: right;"><ion-icon name="ios-basket"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h5 style="font-weight: bold;"> <ion-icon name="md-notifications"></ion-icon> Notifications </h5>

  <h6 style="text-align: center;font-weight: bold;color: orange;" *ngIf="notifications && notifications.length == 0"><ion-icon name="ios-warning-outline"></ion-icon> there is no notification</h6>

  <ion-list>
    <ion-item *ngFor="let notification of notifications" [ngClass]="{'unreaded-notification' : !notification.readed}" (click)="readNotification(notification)">
      <h2 style="color:black;font-weight: bold">{{notification.label}}</h2>
      <p>{{notification.createdAt |  date: 'MM/dd/yy hh:mm:ss' }}</p>
    </ion-item>
  </ion-list>
  
</ion-content>
