<ion-header>
    <ion-toolbar>
      <ion-title>
        <button *ngIf="assignmentPayload.action == 'ADD'" ion-button style="font-size: 20px;color:white;" clear item-end>
            <ion-icon name="md-add-circle" style="margin-right:10px"></ion-icon> {{"product.to_the_basket" | translate}}
        </button>
        <button *ngIf="assignmentPayload.action == 'UPDATE'" ion-button style="font-size: 20px;color:white;" clear item-end>
            <ion-icon name="construct" style="margin-right:10px"></ion-icon> {{"product.edit_product" | translate}}
        </button>
        <button *ngIf="assignmentPayload.action == 'DELETE'" ion-button style="font-size: 20px;color:white;" clear item-end>
            <ion-icon name="md-trash" style="margin-right:10px"></ion-icon> {{"product.delete_product" | translate}}
        </button>
        <button *ngIf="assignmentPayload.action == 'SUBMIT'" ion-button style="font-size: 20px;color:white;" clear item-end>
            <ion-icon name="checkmark" style="margin-right:10px"></ion-icon> {{"product.submit_products" | translate}}
        </button>
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
            {{"fields.cancel" | translate}}
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

        <ion-card>
            <ion-list *ngIf="assignmentPayload.action !== 'SUBMIT'">
                <ion-item>
                  <h1>{{product?.productLabelAr}} {{product?.productLabelFr}}</h1>
                  <h3 *ngIf="product.productDescriptionAr">{{product?.productDescriptionAr}}</h3>
                  <h3 *ngIf="product.productDescriptionFr">{{product?.productDescriptionFr}}</h3>
                  <h3 style="font-weight: bold; color: green">{{product?.productCost}} x {{assignmentPayload?.quantity}} = {{product?.productCost * assignmentPayload?.quantity}} um</h3>
                </ion-item>
            </ion-list>

            <ion-card-content>

              <ng-container *ngIf="assignmentPayload.action !== 'SUBMIT'">
                  <h6 *ngIf="assignmentPayload.action == 'DELETE'" class="text-center">{{"product.quantity" | translate}} <span> : {{product.quantity}}</span></h6>
                  <div *ngIf="assignmentPayload.action !== 'DELETE'" class="input-group input-number-group">
                    <div class="input-group-button" (click)="decrement()">
                      <span class="input-number-decrement">-</span>
                    </div>
                    <input [(ngModel)]="assignmentPayload.quantity" name="quantity" class="input-number" type="number" value="1" min="1" max="1000">
                    <div class="input-group-button" (click)="increment()">
                      <span class="input-number-increment">+</span>
                    </div>
                  </div>
              </ng-container>


              <ion-list *ngIf="showSubmit || assignmentPayload.action == 'SUBMIT'">

                      <p *ngIf="assignmentPayload.action == 'SUBMIT'" style="font-weight: bold">{{"basket.products_cost" | translate}} {{productsCost}} + {{"basket.delivery_cost" | translate}} {{deliveryCost}} = {{"basket.total" | translate}} {{productsCost + deliveryCost}}</p>

                    <p style="font-weight: bold"> <br><ion-icon name="information-circle"></ion-icon> {{"basket.delivery_position" | translate}}</p>
              </ion-list>

              <ion-row *ngIf="assignmentPayload.action == 'SUBMIT'">
                  <ion-col col-7>
                  </ion-col>
                  <ion-col col-5>
                      <button (click)="submit()" [disabled]="!useCurrentPosition && !assignmentPayload.address" ion-button color="success" end style="color: white;float: right;">
                          <ion-icon name="checkmark" style="margin-right: 5px"></ion-icon> {{"fields.submit" | translate}}
                      </button>
                  </ion-col>
              </ion-row>
              <ion-row *ngIf="assignmentPayload.action !== 'SUBMIT'">
                        <ion-col col-12>
                            <button (click)="action()" ion-button color="secondary" style="font-size: 12px;font-weight: bold;float: right">
                                
                              <ng-container *ngIf="assignmentPayload.action == 'ADD'">
                                  <ion-icon name="md-add-circle" style="margin-right: 5px"></ion-icon> {{"actions.add" | translate}}
                              </ng-container>

                              <ng-container *ngIf="assignmentPayload.action == 'UPDATE'">
                                  <ion-icon name="construct" style="margin-right: 5px"></ion-icon> {{"actions.edit" | translate}}
                              </ng-container>

                              <ng-container *ngIf="assignmentPayload.action == 'DELETE'">
                                  <ion-icon name="md-trash" style="margin-right: 5px"></ion-icon> {{"actions.delete" | translate}}
                              </ng-container>

                            </button>
                        </ion-col>
                        <ion-col col-12>
                                <button *ngIf="showSubmit" (click)="actionAndSubmit()" ion-button color="success" style="font-size: 12px;font-weight: bold;float: right">
                                    
                                    <ion-icon *ngIf="assignmentPayload.action == 'ADD'" name="md-add-circle" style="margin-right: 5px"></ion-icon> 
                                    <ion-icon *ngIf="assignmentPayload.action == 'UPDATE'" name="construct" style="margin-right: 5px"></ion-icon> 
                                    <ion-icon *ngIf="assignmentPayload.action == 'DELETE'" name="md-trash" style="margin-right: 5px"></ion-icon>
                                    
                                    {{"actions.and_submit" | translate}} 
                                </button>
                        </ion-col>
              </ion-row>

        </ion-card-content>
        </ion-card>

  </ion-content>