<h5 style="font-weight: bold;"> <ion-icon name="md-arrow-dropright"></ion-icon> {{"product.current_basket" | translate}} <span *ngIf="basket.createdAt">{{basket.createdAt |  date: 'MM/dd/yy'}}</span></h5>
<h6 style="text-align: center;font-weight: bold;color: orange;" *ngIf="basket.products && basket.products.length == 0"><ion-icon name="ios-warning-outline"></ion-icon> {{"product.no_current_basket" | translate}}</h6>
<ion-grid style="border: 1px solid" style="font-size: 10px;padding: 0px !important" *ngIf="basket.products && basket.products.length > 0">
  <ion-row style="border: 1px solid;background-color: #00abec;">
    <ion-col col-3 style="font-weight: bold">
      {{"product.label" | translate}}
    </ion-col>
    <ion-col col-2 style="font-weight: bold">
      {{"product.u_cost" | translate}}
    </ion-col>
    <ion-col col-2 style="font-weight: bold">
      {{"product.qte" | translate}}
    </ion-col>
    <ion-col col-2 style="font-weight: bold;text-align: center">
      {{"product.t_cost" | translate}}
    </ion-col>
    <ion-col col-3 style="font-weight: bold;text-align: center">
        
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let product of basket.products">
    <ion-col col-3 (click)="updateProduct(product)">  
      {{product?.productLabelAr}} {{product?.productLabelFr}}
    </ion-col>
    <ion-col col-2 (click)="updateProduct(product)">
      {{product?.productCost}}
    </ion-col>
    <ion-col col-2 (click)="updateProduct(product)">
      {{product.quantity}}
    </ion-col>
    <ion-col col-2 style="text-align: center" (click)="updateProduct(product)">
      {{product.totalCost}}
    </ion-col>
    <ion-col col-3 style="text-align: center" (click)="deleteProduct(product)">
        <ion-icon name="md-trash" style="color: brown;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4>
    </ion-col>
    <ion-col col-8 style="border: 1px solid;background-color: #00abec;text-align: center;font-weight: bold">
      {{"product.subtotal" | translate}} {{basket.totalCost}} + {{basket.deliveryCost}} = {{basket.totalCost + basket.deliveryCost}}
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-8>
      </ion-col>
      <ion-col col-4>
          <button (click)="submitProducts()" ion-button color="success" style="font-size: 12px;font-weight: bold;float: right">
              <ion-icon name="checkmark" style="margin-right: 5px"></ion-icon> {{"fields.submit" | translate}}
          </button>
      </ion-col>
    </ion-row>

</ion-grid>