<ion-header>
    <ion-toolbar>
      <ion-title>
        products
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          {{"fields.cancel" | translate}}
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
        <ion-grid style="border: 1px solid" style="font-size: 12px;padding: 0px !important" *ngIf="basket.products && basket.products.length > 0">
                <ion-row style="border: 1px solid;background-color: #00abec;">
                  <ion-col col-3 style="font-weight: bold">
                    Label
                  </ion-col>
                  <ion-col col-2 style="font-weight: bold">
                    U.Cost
                  </ion-col>
                  <ion-col col-2 style="font-weight: bold">
                    Qty
                  </ion-col>
                  <ion-col col-2 style="font-weight: bold;text-align: center">
                    T.Cost
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let product of basket.products">
                        <ion-col col-3>  
                          {{product?.productLabelAr}} {{product?.productLabelFr}} <span style="font-weight: bold">({{product?.categoryLabelAr}} {{product?.categoryLabelFr}}) ({{product?.storeLabelAr}} {{product?.storeLabelFr}})</span>
                        </ion-col>
                        <ion-col col-2>
                          {{product?.productCost}}
                        </ion-col>
                        <ion-col col-2>
                          {{product?.quantity}}
                        </ion-col>
                        <ion-col col-2 style="text-align: center">
                          {{product?.totalCost}}
                        </ion-col>
                </ion-row>
        </ion-grid>
  </ion-content>